

<div class="bg">
  <div class="container" cdkDrag>
<h1>My Profile</h1>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{myname}}</mat-card-title>
        <mat-card-subtitle>{{myemail}}</mat-card-subtitle>

      </mat-card-header>
      <h2>About me</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, ullam odio debitis, ab ea est eos iure aut dolores asperiores tenetur veritatis, dolorum consectetur rerum temporibus officiis quas. Placeat, ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate recusandae doloribus ducimus, debitis, culpa perspiciatis explicabo quod officia quam maiores quidem sit tenetur blanditiis, ea ut earum aspernatur maxime! Consequatur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ipsum distinctio voluptatem quam provident dignissimos, ducimus autem eligendi laudantium aut natus, ea quibusdam tenetur. Doloremque aliquam deleniti voluptates doloribus accusamus!</p>

      <div class="icon">
        <a href="#"><i class="lni lni-facebook-original"></i></a>
        <a href="#"><i class="lni lni-github-original"></i></a>
        <a href="#"><i class="lni lni-instagram"></i></a>
        <a href="#"><i class="lni lni-linkedin-original"></i></a>
      </div>
    </mat-card>
  </div>

</div>
