<div class="bg">
  <div class="container">
    <div class="title">
      <h1>Welcome to EpicodeApp</h1>
      <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed harum blanditiis quaerat ducimus distinctio nostrum aliquid, itaque obcaecati consectetur dolorum doloremque odit recusandae, reprehenderit repellat cupiditate ad ratione vero sint!</h5>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-title>Lorem ipsum dolor</mat-card-title>
        <img mat-card-image src="https://img.freepik.com/premium-vector/customer-support-concept-with-people-working-together-providing-online-customer-service_268404-116.jpg?w=2000 2000w">
        <mat-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi adipisci laboriosam eos maiores deleniti maxime dolorum, voluptates alias dolor unde modi voluptatem repellendus veritatis, in culpa, magni tempora labore dicta.</mat-card-subtitle>

      </mat-card>
      <mat-card>
        <mat-card-title>Sit amet consectetur</mat-card-title>
        <img mat-card-image src="https://img.freepik.com/premium-vector/team-success-concept-with-people-celebrating-victory_268404-131.jpg?w=2000 2000w">
        <mat-card-subtitle>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus at, obcaecati officiis ratione repellat sed natus incidunt earum? Molestias facere perferendis laborum ad reprehenderit obcaecati voluptatem quam fuga</mat-card-subtitle>

      </mat-card>
      <mat-card>
        <mat-card-title>Adipisicing elit</mat-card-title>
        <img mat-card-image src="https://img.freepik.com/premium-vector/customer-support-concept-with-woman-support-department-advises-customer-live-chat_268404-118.jpg?w=2000 2000w">
        <mat-card-subtitle>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita neque autem provident placeat dicta ab doloribus, animi distinctio. Assumenda fugiat quam fuga iure at rem ex. Provident modi nemo qui!</mat-card-subtitle>

      </mat-card>
    </div>
  </div>

</div>
