/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

a{
  text-decoration: none;
  margin: 1rem;
  font-size: 0.8rem;
  color: rgb(56, 56, 56);
}

.alert-danger{
  text-align: center;
  color: #FF4081;
  margin-top: 1rem;
  font-size: 0.7rem;
}
